<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3  style="text-align:center">
              Giao dịch trên ví này
            </h3>
          </div>
          <div class="card-body">
            <table id="transaction" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th style="text-align:center">Stt</th>
                <th style="text-align:center">Category</th>
                <th style="text-align:center">Amount</th>
                <th style="text-align:center">Note</th>
                <th style="text-align:center">Ngày giao dịch</th>
                <th style="text-align:center">Update</th>
                <th style="text-align:center">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let transaction of transaction; index as i">
                <td style="text-align:center">{{i+1}}</td>
                <td style="text-align:center">{{transaction.category}}</td>
                <td style="text-align:center">{{transaction.amount}}</td>
                <td style="text-align:center">{{transaction.note}}</td>
                <td style="text-align:center">{{transaction.date | date: 'dd-MM-yyyy'}}</td>
                <td style="text-align:center">
                  <a class="btn btn-warning" routerLink="/transaction/editTransaction/{{transaction.id}}">
                    <span class="fas fa-edit"></span>
                  </a>
                </td>
                <td style="text-align:center">
                  <a class="btn btn-danger" routerLink="/transaction/deleteTransaction/{{transaction.id}}">
                    <span class="fas fa-trash"></span>
                  </a>
                </td>
              </tr>
              <!--              <tr *ngFor="sum of sum"></tr>-->
              </tbody>




            </table>
            <!--            <h3>{{sum[0].sum}}</h3>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

