<section class="content">
  <div id="top" class="text-center"
       style="height: 330px; width: 100%; background: #00710f;">
    <img  style="margin-bottom: 18px; margin-top: 50px"
          src="assets/dist/img/logoN4.png" alt="">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
<div class="wrapper fadeInDown" style="top: -40px;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Đăng nhập </h2>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" style="top: -100px;">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="Tài khoản">
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Mật khẩu">
      <input type="submit" class="btn btn-warning" value="Đăng nhập" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Đăng kí</a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</section>




