<section class="content">
  <div id="top" class="text-center"
       style="height: 330px; width: 100%; background: #00710f;">
    <img  style="margin-bottom: 18px; margin-top: 50px"
          src="/image/286ceb7a3b8dfbd3a29c.jpg" alt="">
    <h2 style="color: white">Money Lover</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
<div class="wrapper fadeInDown" style="top: -200px;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Đăng nhập </h2>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" style="top: -200px;">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="Tài khoản">
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Mật khẩu">
      <input type="submit" class="fadeIn fourth" value="Đăng nhập">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Đăng kí</a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</section>



<!--<div class="container-fluid">-->
<!--  <div id="top" class="text-center"-->
<!--       style="height: 330px; width: 100%; background: #00710f;">-->
<!--    <img  style="margin-bottom: 18px; margin-top: 50px"-->
<!--          src="/image/286ceb7a3b8dfbd3a29c.jpg" alt="">-->
<!--    <h2 style="color: white">Money Lover</h2>-->
<!--  </div>-->
<!--  <div class="content">-->
<!--    <form [formGroup]="loginForm" (ngSubmit)="login()"-->
<!--          style="width: 670px; height: 450px; background: white; border-radius: 20px; padding: 34px 40px 40px; position: relative; top: -100px; left: 350px">-->
<!--      <h1 style="font-size: 32px; font-weight: 700; text-align: center; margin-bottom: 34px;">-->
<!--        Log In</h1>-->
<!--        <span style="color: #707070; font-size: 17px">Using Money Lover account</span>-->
<!--        <div class="form-floating mb-4">-->
<!--          <input type="text" class="form-control" id="username" placeholder="Username">-->
<!--          <label for="username">Username</label>-->
<!--        </div>-->
<!--        <div class="form-floating mb-4">-->
<!--          <input type="password" class="form-control" id="password" placeholder="Password">-->
<!--          <label for="password">Password</label>-->
<!--        </div>-->
<!--        <input type="submit" class="mb-4"-->
<!--               style="border-radius: 5px; background: #43a66a; color: white; height: 40px; border: none; padding: 10px; width: 30%; font-size: 15px; margin-right: 61px;"-->
<!--               value="LOGIN">-->
<!--        <span>Don’t have an account?</span>-->
<!--        <span>-->
<!--        <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"-->
<!--                style="border-radius: 5px; background: #43a66a; color: white; height: 40px; border: none; padding: 10px; width: 30%; font-size: 15px">-->
<!--        REGISTER-->
<!--      </button>-->
<!--      </span>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->



