<div class="hold-transition sidebar-mini" xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>
    <div class="content-wrapper">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Đổi mật khẩu </h2>
          <!-- Login Form -->
          <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">

            <input type="password"  class="fadeIn second" formControlName="oldPassword" placeholder="Mật khẩu cũ">
            <input type="password" class="fadeIn third" formControlName="newPassword" placeholder="Mật khẩu mới">
            <input type="password"  class="fadeIn third" formControlName="confirmNewPassword" placeholder="Xác nhận mật khẩu mới">
            <div>
              <span style="color: red" role="alert" *ngIf="(changePasswordForm.controls.confirmNewPassword?.touched ) && (changePasswordForm.controls.confirmNewPassword.value != changePasswordForm.controls.newPassword.value )">Mật khẩu không trùng khớp!</span>
            </div>
            <input type="submit" class="fadeIn fourth" value="Lưu thay đổi">
          </form>

        </div>
      </div>

    </div>
  </div>

</div>
