<h1>Thêm thể loại tiêu dùng</h1>
<form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
  <div class="form-group">
    <label for="exampleInputName">Tên thể loại</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" formControlName="name" placeholder="Nhập thể loại tiêu dùng">
  </div>
  <button type="button" class="btn btn-outline-success">Tạo mới</button>  &nbsp;
  <a type="submit" class="btn btn-outline-success" routerLink="/transaction/createTransaction">Thêm mới giao dịch</a>
</form>
