
<div class="hold-transition sidebar-mini" xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>
    <div class="content-wrapper">
      <h1>Thêm thể loại tiêu dùng</h1>
      <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
        <div class="form-group; col-6">
          <label for="exampleInputName">Tên thể loại</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" formControlName="name" placeholder="Nhập thể loại tiêu dùng">
          <br>
          <div *ngIf="nameControl.touched && nameControl.invalid">
            <p style="color: red" *ngIf="nameControl.errors?.required">
              Không được để trống
            </p>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Tạo mới</button>  &nbsp;
        <a type="submit" class="btn btn-outline-success" routerLink="/transaction/createTransaction">Thêm mới giao dịch</a>
      </form>
    </div>
  </div>

</div>
