<aside class="main-sidebar sidebar-dark-cyan elevation-4">
<!--   Brand Logo -->


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <a routerLink="/home" class="brand-link">
        <img src="assets/dist/img/logoN4.png" alt="AdminLTE Logo" class="brand-image  elevation-3"
             style="opacity: .8">
<!--        <span class="brand-text font-weight-light">Double Cat</span>-->
      </a>
    </div>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="http://localhost:8080/image/{{userInfo.avatar}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="profile" class="d-block">{{userInfo.name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/wallet/list/{{idUser}}" class="nav-link">
            <i class="fa fa-wallet"></i>
            <p>
              Ví của tôi
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-money-bill-wave"></i>
            <p>
              Giao dịch
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/transaction/createTransaction" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Thêm giao dịch
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/transaction/listTransaction/{{idUser}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Danh sách tiêu dùng
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/transaction/listTransactionToday/{{idUser}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Danh sách tiêu dùng hôm nay
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-search-plus"></i>
            <p>
              Tìm kiếm giao dịch
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/transaction/listTransactionInTime/{{idUser}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Tìm kiếm theo khoảng thời gian
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/transaction/listTransactionInTimeByIdWallet/{{idUser}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Tìm kiếm theo khoảng thời gian của từng ví
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/category/list/{{idUser}}" class="nav-link">
            <i class="fa fa-align-left"></i>
            <p>
              Thể loại tiêu dùng
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-cog"></i>
            <p>
              Cài đặt
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="profile" class="nav-link">
                <i class="fa fa-user"></i>
                <p>
                  Tài khoản
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="logout()" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <p>
                  Đăng xuất
                </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
