<div class="hold-transition sidebar-mini" xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>
    <div class="content-wrapper" text-align:center>
<!--      <a class="nav-link active btn" style="float: right; color: black" aria-current="page" (click)="logout()">Đăng xuất</a>-->
<!--        <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>-->

      <router-outlet></router-outlet>

   </div>
  </div>
</div>
