<div class="container">
  <h1>Chi tiết ví</h1>
  <div class="mb-3">
    <p><span style="font-weight: bold">Tên ví: </span>{{wallet.name}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Ngày tạo ví: </span>{{wallet.date | date:'fullDate'}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Loại tiền: </span>{{wallet.moneyType.name}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Tổng nạp: </span>{{wallet.total}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Số dư: </span>{{wallet.balance}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Ghi chú: </span>{{wallet.note}}</p>
    <hr>
  </div>

    <button type="button" class="btn btn-outline-success" routerLink="/transaction/listTransactionTodayByIdWallet/{{wallet.id}}">Giao dịch hôm nay trên ví này</button>

  &nbsp;

    <button type="button" class="btn btn-outline-success" routerLink="/transaction/listTransactionByIdWallet/{{wallet.id}}">Tất cả giao dịch trên ví này</button>


</div>
