<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="text-align: center">Chi tiết ví {{wallet.name}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/wallet/edit/{{wallet.id}}/{{idUser}}">Sửa ví</a></li>
          <li class="breadcrumb-item active"><a routerLink="/wallet/delete/{{wallet.id}}" >Xóa ví</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="container">

  <div class="mb-3">
    <p><span style="font-weight: bold">Ngày tạo ví: </span>{{wallet.date | date:'fullDate'}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Loại tiền: </span>{{wallet.moneyType.name}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Tổng nạp: </span>{{wallet.total}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Số dư: </span>{{wallet.balance}}</p>
    <hr>
  </div>
  <div class="mb-3">
    <p><span style="font-weight: bold">Ghi chú: </span>{{wallet.note}}</p>
    <hr>
  </div>

    <button type="button" class="btn btn-outline-success" routerLink="/transaction/listTransactionTodayByIdWallet/{{wallet.id}}">Giao dịch hôm nay trên ví này</button>

  &nbsp;

    <button type="button" class="btn btn-outline-success" routerLink="/transaction/listTransactionByIdWallet/{{wallet.id}}">Tất cả giao dịch trên ví này</button>

</div>


