

 Modal
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chia sẻ ví </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="shareForm" (ngSubmit)="share()">
          <select class="form-control"  formControlName="wallet">
            <option [value]="null" selected >chon vi</option>
            <ng-container *ngFor="let wallet of wallets">
              <option [value]="wallet.id">{{wallet.name}}</option>
            </ng-container>
          </select>
          <div>
            <span style="color: red" role="alert" *ngIf="(shareForm.controls.wallet?.touched || submitted) && shareForm.controls.wallet?.errors?.required">Vui lòng chọn ví</span>
          </div>
          <input class="form-control" (change)="usernameCheck($event)" type="text" formControlName="user" placeholder="Nhập gmail">

          <div>
            <span style="color: red" role="alert" role="alert" *ngIf="(shareForm.controls.user?.touched || submitted) && !checkUser">Tên đăng nhập không tồn tại</span>
          </div>
          <button type="submit">gui</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Ví của tôi</h1>
      </div>
      <h5 class="mb-2">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Chia sẻ</a>
      </h5>

    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <h5 class="mb-2">
      <a routerLink="/wallet/create" class="btn btn-success">Tạo ví mới</a>
    </h5>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12" *ngFor="let wallet of wallets" >
        <div class="info-box" >
          <span class="info-box-icon bg-info"><a routerLink="/wallet/detail/{{wallet.id}}"><img src="{{wallet.icon.linkIcon}}" style="width: 60px"></a></span>
          <div class="info-box-content">
            <span class="info-box-text">{{wallet.name}}</span>
            <span class="info-box-number">Số dư: {{wallet.balance | number}} {{wallet.moneyType.name}}</span>
            <button type="button" class="btn btn-outline-warning"  routerLink="/money/add/{{wallet.id}}">Nạp tiền</button>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
  </div>
</section>

<hr>

<div class="col d-flex justify-content-center">
  <div class="col-12 col-sm-6 col-md-5">
    <div class="info-box mb-3">
      <span class="info-box-number bg-warning elevation-1"><img src="	https://static.moneylover.me/img/icon/icon_56.png"></span>
      <div class="info-box-content ">
        <span class="info-box-text">Tổng các loại tiền</span>
        <span>
          <ul *ngFor="let s of sumMoneys">
          <li><span style="font-weight: bold">Tiền {{s.moneyType}}: </span>{{s.balance | number}}</li>
        </ul>
        </span>
      </div>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>


<!-- /.col -->
<!-- /.row -->


